module.exports = {
    app: {
        PORT: '3000',
        sessionCookieName: 'webshoescookie',
        jwtOptions: {
        secretOrKey: 'secretjwt',
        expiresIn: 6000 // 10 min
      },
    },
    db: {
        host: 'localhost',
        dbname: 'web_bh_online',
        user: 'root'
    },
    email: {
       urlUser: 'http://localhost:3000/#/update-password/',
       urlAdmin: 'http://localhost:3000/#/update-password/',
       username: 'tahuuvuong26@gmail.com',
       password: 'gtnk ilbu mdnz gsxl'
    },
}